.header {
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 6.25vh;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    padding-top: 4.82vh;
  }

  @media screen and (max-width: 767px) {
    padding-top: 3.94vh;
  }

  &__logo-wrapper {
    height: 5.08vh;
    width: 5.08vh;
    border-radius: 0.98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/background.svg) center center / cover no-repeat;
    margin-right: 1.17vh;

    @media screen and (max-width: 1024px) {
      height: 6.64vh;
      width: 6.64vh;
    }

    @media screen and (max-width: 767px) {
      height: 2.96vh;
      width: 2.96vh;
    }
  }

  &__logo {
    height: 3.52vh;

    @media screen and (max-width: 1024px) {
      height: 4.82vh;
    }

    @media screen and (max-width: 767px) {
      height: 1.97vh;
    }
  }

  &__title {
    font-size: 2.34vh;
    font-weight: 500;
    color: #989F8A;

    @media screen and (max-width: 1024px) {
      font-size: 3.12vh;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.97vh;
    }

    span {
      color: #313F14;
      font-weight: 700;
    }
  }
}
